.cat {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 50px;
  margin-right: 80px;
  margin-top: 80px;
}

.category {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img1 {
  height: 200px;
  width: 400px;
  border-radius: 10px;
}

.p1 {
  font-size: 1.6rem;
}

.p2 {
  font-size: 1.2rem;
}

.p3 {
  font-size: 0.9rem;
}

.lnk {
  color: black;
}